@charset "EUC-KR";


@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

hr.style3 { border-top: 1px dashed #8c8b8b; }
hr.style6 {
	background-color: #fff;
	border-top: 2px dotted #A6A6A6;;
}
.divalign1 {
	position:relative;
	padding:5px;
}
.container {
	position: relative;
	max-width: 650px;
	margin: auto;
	font-family: 'Nanum Gothic', serif;
}
.feed-write {
	max-width: 630px;
	background-color: white;
	padding: 10px; 
	box-shadow : 0 4px 8px 0 rgba( 0, 0, 0, 0.2), 0 6px 20px 0 rgba( 0, 0, 0, 0.19);
	text-align: center;
	border:1px solid LightGray;
    border-radius:3px;
	box-shadow: 0px 2px 7px lightgrey;
}
.feed-write2> textarea {
	max-width:600px;
	width:100%;
	resize: none;
	overflow: hidden;
	font-size: 18px;
}
.feed-write2 {
	max-height:500px;
	padding: 10px;
}
.feed-submit {
	text-align: right;
	padding-right: 15px;
}
div.feed-submit input.button {
	background-color: #005766;
	border: none;
	color: white;
	padding: 10px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
#counter{padding:10px;}
.blank2 { width:680px; height:50px;}

div.userimg img{ width:60px; border-radius:70px;}
.userimg{ padding-right: 15px; float:left;}
div.feed-bottom button {
	font-family: 'Nanum Gothic', serif;
	background-color: #005766;
	border: none;
	color: white;
	padding: 8px 26px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	boder-radius:7px;
}
.feed-output{
	font-family: 'Nanum Gothic', serif;
	max-width:630px;
	height:100%;
	background-color:white;
	padding:10px;
    border:1px solid LightGray;
    border-radius:3px;
	box-shadow: 0px 2px 7px lightgrey;
}
div.divalign1>.time { padding:10px; margin:5px;}

.feed-upper {
	width:610px;
	height:60px;
	padding:10px;
	}
.feed-upper>name {font-size:20px;}
.feed-center>p { font-size:15px; text-align:left; padding:10px; clear:both;}
.feed-bottom { text-align:right; padding-right:15px; }



.replystyle {
	padding-left:20px;}
.replyform>textarea { 
	resize: none;
	overflow: hidden;
	font-size: 12px;
	margin: auto;
	border-radius:10px; }

.replyform>input[type=submit] {
    background:url(/WebProject2/img/button2.png);
    border:0px;
    display: block;
    height: 30px;
    width: 30px;
    float: right;
}
span.imgstyle img{
	width:30px;border-radius:70px;
}